*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;

}

.main{
    width:100%;
    height: auto;
   
}


.main .hero-page{
    width:100%;
    height: 100vh;
    background-image: url(./ASSETS/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    padding: 0px 80px;
    

}

.main .hero-page .navbar{
    width: 100%;
    /* height: 50px; */
    /* background-color: aliceblue; */
    margin-top: 45px;

    display: flex;
    align-items: center;
    justify-content:flex-end;

    font-family: Playfair ;

}

.logo{
    z-index: 10;
}

.main .hero-page img{
   margin-right: auto;

}

.main .hero-page ul{
    display: flex;
    margin: 15px;
    font-size: 18px;
    color: #fff;
    justify-content: space-between;
}

.main .hero-page ul li{
    display: flex;
    margin: 20px;
    color: #fff;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
}

.main .hero-page a{
    padding: 10px 38px;
    background: #A97A27;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    border-radius: 5px;
}



.main .hero-page .hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.main .hero-page .hero-section  .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;

}
.main .bg{
    height: 90vh;
    width: 280px;
    background-color: rgba(67,83, 101, 0.3);
    position: absolute;
    z-index: 10;
    border-radius: 0px 0px 20px 20px;
    margin-left: 150px;
    
    
}
.main .hero-page .hero-section  .heading .headline{
    font-size: 42px;
    color: #fff;
    margin-top: -100px;

}

.main .hero-page .hero-section  .heading .explore{
    margin-top: 30px;

}

.main .hero-page .hero-section .img-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.main .hero-page .hero-section img{
    width: 380px;
    height: 380px;
    margin-left: 100px;
    margin-top: -20px;
}

.main .hero-page .container{
    
    /* background: #000; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.details{
    letter-spacing: 2px; 
}





